 /*---Generic CSS that applies to most pages-------------*/
body{
    margin:0px;
    padding:0px;
}


.horizontal-nav{
     
}

nav{
    color:white;
    background-color:black;
}

nav ul{
    list-style: none;
    padding:0px;
    column-count: 3;
}
 
#project-nav{
    text-align: center;
}

#project-nav ul{
    column-count:2;
}

#project-nav li{
    padding:6.6px;
    background-color:yellow;
    color:black;
    margin-bottom: 9px;
    height:35px;
    text-align: center;
}

#project-nav li:hover{
    background-color:yellowgreen;
}

.project-nav-highlight{
    background-color:yellowgreen !important;
}

 /*-------------------------------*/

 /*------------Project specific-------------------*/
#project-image{
    text-align: center;
}

#project-image img{
    max-width: 100%;
}
 /*--------School preview CSS---------*/


#school-preview {
    background-color:grey;
    column-count: 10;
    column-gap:1px;
     

}


#school-preview img{
    width:100%;
    display:block;
    height:120px;
    
}

 @media (max-width:967px){
     #school-preview {
         column-count:5;
     }
}


@media (max-width:422px){
     #school-preview {
         column-count:1;
     }
}
 /*--------------------------------*/

/*--------Nursing Preview CSS---------*/


#nurse-preview {
    background-color:grey;
    column-count:3;
}


#nurse-preview img{
    display:block;
    height:120px;
    max-width:100%;
}

@media (max-width:422px){
     #nurse-preview {
         column-count:1;
     }
    #nurse-preview img{
        width:100%;
    }
}

 /*------Retail-preview & residential------*/

 
#retail-preview, #residential-preview{
    background-color:grey;
    column-count:2;
}


#retail-preview img, #residential-preview img{
    display:block;
    max-width:100%;
    height:120px;
   
}

/*------Judicial-Preview------*/

#judicial-preview{
    display:flex;
    justify-content: center;
}

#judicial-preview img{
    height:350px;
}
/*--recration-Preview---*/

#recreation-preview {
    background-color:grey;
    column-count:2;   
}

#recreation-preview img {
    display:block;
    height:120px;
    max-width:100%;
}

 /*---------All Image slider related pages----------*/


.img-container{
    text-align: center;
}

.img-container img{
    max-width:100%;
    height:400px;
    margin-top:100px;
    
}

.img-container .prev{
    float:left;
    width:70px;
    
}
.img-container .next{
    float:right;
   width:70px;
    
}
/*--------------------------------*/