 /*---Generic CSS that applies to most pages-------------*/
*{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding:0px;
    background-color:gray;
    display:flex;
    flex-wrap: wrap;
    height:100vh;
    justify-content: center;
}

.horizontal-nav{
    height:20px;
}

nav{
    color:white;
    background-color:black;
    flex:0 1 100%;
}

nav ul{
    list-style: none;
    padding:0px;
    column-count: 3;
}
 
#project-nav{
    text-align: center;
    align-self: flex-end;
}

#project-nav ul{
    column-count:2;
}

#project-nav li{
    padding:6.6px;
    background-color:yellow;
    color:black;
    margin-bottom: 9px;
    height:35px;
    text-align: center;
}

#project-nav li:hover{
    background-color:yellowgreen;
}

.project-nav-highlight{
    background-color:yellowgreen !important;
}


 /*----History of Firm-------*/

#firm-history{
    text-align: center;
    width:70%;
    float:left;
}


#contact-info{
    text-align: center;
    width:30%;
    float:right;
}

@media(max-width:527px){
    #firm-history{
        width:100%;
    }
    #contact-info{
        width:100%;
    }   
}
/*--------------------------*/
 /*----The Team-------*/
.eugene{
    text-align: center;
}

.david{
    text-align: center;
}

.daniel{
    text-align: center;
}

 /*------------Project specific-------------------*/
#project-image{
    text-align: center;
}

#project-image img{
    max-width: 100%;
}
 /*--------School preview CSS---------*/


#school-preview {
    column-count: 10;
     background-color:darkgray;
    padding:20px;
}


#school-preview img{
    width:100%;
    display:block;
    height:120px;
    
}

 @media (max-width:967px){
     #school-preview {
         column-count:5;
     }
}


@media (max-width:422px){
     #school-preview {
         column-count:1;
     }
}
 /*--------------------------------*/

/*--------Nursing Preview CSS---------*/

 

#nurse-preview {
    column-count:3;
     background-color:darkgray;
    padding:20px;
    
}


#nurse-preview img{
    display:block;
    height:120px;
    max-width:100%;
}

@media (max-width:422px){
     #nurse-preview {
         column-count:1;
     }
    #nurse-preview img{
        width:100%;
    }
}

 /*------Retail-preview & residential------*/

 
#retail-preview, #residential-preview{
     background-color:darkgray;
    padding:20px;
    column-count:2;
}


#retail-preview img, #residential-preview img{
    display:block;
    max-width:100%;
    height:120px;
}
 


/*------Judicial-Preview------*/

#judicial-preview{
    display:flex;
    justify-content: center;
}

#judicial-preview img{
    height:350px;
}
/*--recreation-Preview---*/

#recreation-preview {
     background-color:darkgray;
    padding:20px;
    column-count:2;
}

#recreation-preview img {
    display:block;
    height:120px;
    max-width:100%;
}

 /*---------All Image slider related pages----------*/


.img-container{
    flex:0 1 100%;
    text-align: center;
}

.img-container img{
    max-width:100%;
    height:400px;
}

.img-container .prev{
    float:left;
    width:70px;
    
}
.img-container .next{
    float:right;
   width:70px;
    
}
/*--------------------------------*/